footer {
  padding: 60px 113px 0 113px;

  .title {
    text-align: center;

    h1 {
      font-weight: bold;
      font-size: 40px;
      line-height: 50px;
      color: #262d33;
      font-family: "Roboto Slab", sans-serif;
    }

    form {
      margin-top: 25px;
      input {
        width: 313px;
        height: 40px;
        border: 1px solid #d9dadb;
        box-sizing: border-box;
        border-radius: 5px;
      }
    }
  }
}
